.container
  .row
    .col-md-8.col-md-push-2
      .alert.alert-dismissible(class='alert-' + flash.status, role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        p= flash.message
