/** Main stylesheet for the application
**************************************************/
html {
  background-color: #333333;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.input-errors {
  padding-top: 8px;
  list-style: circle;
}
.input-errors p {
  margin: 0;
}
body footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #333333;
}
.social {
  margin: 10px 0;
}
.social .social-link {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.social .social-link img {
  width: 30px;
}
.social .social-link.github {
  background-color: #0f0f0f;
}
.social .social-link.github:hover {
  background-color: #292929;
}
.social .social-link.instagram {
  background-color: #a45b0d;
}
.social .social-link.instagram:hover {
  background-color: #d37511;
}
.social .social-link.email {
  background-color: #337ab7;
}
.social .social-link.email:hover {
  background-color: #5094ce;
}
.error-description {
  padding: 30px 0;
}
