/** Main stylesheet for the application
**************************************************/
textarea {
  resize: vertical;
  min-height: 100px;
}
.input-errors {
  padding-top: 8px;
  list-style: circle;
}
.input-errors p {
  margin: 0;
}
