<?php
/**
 * Config for the weather API for http://openweathermap.org/
 */

return [

    "weather" => [

        "appid" => "<api-key>",

        "unit"  => "imperial", // Or 'metric' for celsius

        "lang"  => "en"

    ],

];
