extends ../layout/index.pug

block content
  .jumbotron
    .container
      h1 Welcome
      p.
        Hi, my name is Dennis Skoko and this will be
        my website where I show off all of my skills.
        You can view my work at Github or at the projects page.
      .btn-group
        a.btn.btn-default.btn-lg(href='https://github.com/DennisSkoko', target='_blank') Github
        a.btn.btn-primary.btn-lg(href='projects') Projects
  
  main
    .container
      .row
        .col-md-6.col-md-push-3
          article
            header
              h2 About
            p.
              I live in Karlskrona, Sweden and I'm a student at the university of
              #[a(href='https://www.bth.se/eng/', target='_blank') Blekinge Institute of Technology]
              where I study web programming. I like to spend time doing some personal projects,
              or doing some projects for people that I know. Other than that I usually hangout with friends.
              
            p.
              I mainly focus on web development using JavaScript but I've a lot of experience with PHP as well.
              I'm experienced with Java after been doing one big project with it.
              Other than that I also know C++ and Python but that's only from the courses at the university.
            
            p.
              As a person I'm curious and I'm not scared to dive into something I don't know to learn something new.
