extends ../layout/default.pug

block content
    .container
        .row
            .col-md-8.col-md-push-2
                .alert.alert-dismissible.alert-info(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') &times;
                    p This page is under development and will come soon.
