extends ../../layout/default.pug

block content
    .jumbotron
        .container
            h1 Internal Server Error!
            p.
                I'm sorry but something happend when trying to handle your request.
                If this occurs often then please do contact my #[a(href='mailto:dennis.skoko@hotmail.com') maintainer].
