extends ../../layout/index.pug

block content
  .jumbotron
    .container
      h1 Not Found!
      p.
        I'm sorry but I couldn't find what you were looking for.
        #[a(href='/') Click here] to return back to the homepage.
