.container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 3em 1em 10em;
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.header {
  text-align: center;
}

.section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 1em;
}

.section > div:first-child {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.section > div:last-child span {
  color: var(--color-primary);
}

.content a {
  color: var(--color-primary);
}

.content a:focus, .content a:hover {
  text-decoration: none;
}

.project app-timespan {
  display: block;
  margin-top: .5em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .25em;
}

.tags span {
  background-color: var(--color-secondary);
  padding: .25em .5em;
  border-radius: .2em;
}
